body {
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    /* font-size: 0.8vw; */
    line-height: 1.3;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
box-sizing: border-box;
-moz-box-sizing: border-box;
}
.header {
    height: 5vw;
}
.page {
    position: inline;
    padding: 0;
    margin: 0.5vw auto;
    border-radius: 1vw;
    background: white;
    box-shadow: 0 0 1vw lightgrey;
    overflow-x: auto;
}
.page.portrait {
    height: 65vw; 
    width: 46vw;
}
.page.landscape {
    height: 46vw; 
    width: 65vw;
    max-width: 100%;
}
.page.freq-plot{
    height: 100%;
}
.page.dist-plot{
    height: 100%;
}
.sub_page {
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    /* Firefox */
    height: -moz-calc(100% - 5vw);
    /* WebKit */
    height: -webkit-calc(100% - 5vw);
    /* Opera */
    height: -o-calc(100% - 5vw);
    /* Standard */
    height: calc(100% - 5vw);
}
.sub_page_100 {
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    height: 100%;
}
#gisaid_footnote {
    text-align: center;
    margin-top: 0.5em;
}
.h-10 {
    height: 10% !important;
}
.h-20 {
    height: 20% !important;
}
.h-30 {
    height: 30% !important;
}
.h-40 {
    height: 40% !important;
}
.h-60 {
    height: 60% !important;
}
.h-70 {
    height: 70% !important;
}
.h-80 {
    height: 80% !important;
}
.h-w {
    min-width: 100% !important;
	height: auto !important;
}
.row-height {
    overflow: auto;
    height: 100%;
}
.page-content {
    height: 100%;
    padding-bottom: 1vw;
}
.page-content > div{
    height: 100%;
}
.menu-content {
    height: 100%;
    padding-bottom: 1vw;
}
.menu-content > div{
    height: 100%;
    padding-bottom: 1vw;
}
#table1, #table2, #nt_mutation_over_time, #aa_mutation_over_time {
    font-size: 0.7vw;
    height: 100%;
}
.data_distribution_block {
    height: 15vw;
}
.metadata_table_block {
    height: 46%;
}
/* .voc_block {
    height: 50%;
} */
/* .voc_block_items {
    height: 90%;
    overflow: auto;
} */
#country_cases_over_time {
    max-height: 100%;
}
/* space between filter arrows and column name in metadata table */
#table1 .column-header-name {
    padding-left: 0.5vw;
}
#allele-freq-plot, #mutation_over_time {
    height: 100%;
    width: 100%;
}
.menu-left {
    position: inline;
    padding: 0;
    margin: 0.5vw auto;
    border-radius: 1vw;
    background: white;
    box-shadow: 0 0 1vw lightgrey;
    overflow: auto;
    width: 100%;
    max-width: 100mm;
}
.sub-menu-left {
    padding: 0% 5% 5% 5%;
    height: 80%;
}
.menu-left.portrait {
    height: 65vw;
}
.menu-left.landscape {
    height: 46vw;
}
#right-side-menu {
    position: fixed;
}
.menu-right {
    padding: 0;
    overflow: auto;
    max-height: 65vw;
    height: 100vh;
    width: 100%;
    max-width: 80mm;
}
.sub-menu-right {
    padding: 5%;
    margin: 0.5vw;
    border-radius: 1vw;
    background: white;
    box-shadow: 0 0 1vw lightgrey;
}

.tab_block {
    overflow: auto;
    height: 36%;
}
.nav_block {
    overflow: auto;
    height: 25%;
}
.button_block{
    margin-top: 0.6vw;
}
.converter_block {
    overflow: auto;
    height: 44%;
}
.supporter_block {
    overflow: hidden;
    height: 18%;
}
.version_block {
    overflow: hidden;
    height: 5%;
}
.consensus_table_block {
    height: 90%;
}
.germany_block {
    height: 100%;
}
.germany_plots_block {
    height: 100%;
}
.germany_plots {
    height: 100%;
}
.germany_plot {
    height: 50%;
}
#variant_development, #results_per_lab, #mutation_development {
    height: 70%;
}
#lab_map_fig {
    height: 80%;
    margin-bottom: 4%;
}
.button, button {
    background-color: #3f6292;
    color: #f2f6f9;
    display: inline-block;
    height: 2vw;
    padding: 0 2%;
    text-align: center;
    font-size: 0.7vw;
    font-weight: 600;
    /* line-height: 8vw; */
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 0.3vw;
    border: 0.1vw solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.nav_block button {
    width: 100%;
}
.export {
    background-color: #3f6292;
    color: #f2f6f9;
    padding: 10%;
}
.submit {
    width: 100%;
}
.printbutton {
    width: 100%;
}
.input_field {
    width: 100%;
}
.button.legend {
    width: 100%;
}
.logo {
    height: 4vw;
    width: auto;
    margin: 2%;
}
.gisaid_header {
    display: flex;
    margin-bottom: 0.7vw;
}
.gisaid_header_div {
    margin-inline: auto;
    font-size: 0.7vw;
    display: flex;
    align-items: center;
}
.gisaid_logo {
    height: 1.5vw;
    width: auto;
    margin: 0%;
}
.supporter_logo_box {
    width: 100%;
}
.supporter_logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 3%;
}
.tab {
    border-style: none;
    color: black;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: transparent;
    }
.main-title {
    position: relative;
    color: #3a3a3a;
    /* font-size: 7vw !important; */
    width: 80%;
    border-left: 3vw solid #3f6292;
    background: #ffffff;
    padding-left: 4vw;
}
.subtitle-container {
    display: inline;
}
.description-button-page-anchor {
    display: inline-block;
    margin-top: 0.6vw;
    margin-right: 0.5vw;
    vertical-align: middle;
}
.description-button-left-anchor {
    display: block;
}
.description-button-page-img {
    height: 1.5vw;
    vertical-align: middle;
}
.description-button-left-img {
    height: 1.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subtitle {
    position: relative;
    color: #3a3a3a;
    left: 0;
    /* height: 20%; */
    margin: 0;
    border-left: 0.6vw solid #3f6292;
    background: #ffffff;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    padding-left: 6vw;
    padding-right: 8vw;
    display: inline-block;
    vertical-align: middle;
}
.description-modal-header {
    font-weight: bold;
}
.description-modal-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.padded {
    padding: 1vw;
}
h5.padded {
    padding:  0.4vw 1vw;
    margin-top: 3vw;
    margin-bottom:  0.4vw;
}
h6.padded,
p.padded {
    padding:  0.4vw 1vw;
    margin-top: 1vw;
    margin-bottom:  0.4vw;
}
.center {
    text-align: center;
}
.textpoint text{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  }
.chart {
    max-width: 100%;
}
.filter_description_heading{
    border-left:  0.4vw solid #3f6292; 
    background: lightblue;
    margin-bottom: 0.3vw;
}
.filter_description{
    border-left:  0.1vw solid #3f6292; 
    background: lightblue;
}
.filter_block_bundle{
    margin: 1vw;
}
.filter_block_bundle.map {
    height: 100%;
}
.filter_block{
    margin-bottom: 0.7vw;
}
.scroll_box_10 .Select-multi-value-wrapper{
    max-height: 10vh;
    overflow: auto;
    width: 100%;
}
.scroll_box_25 .Select-multi-value-wrapper{
    max-height: 25vh;
    overflow: auto;
    width: 100%;
}
.filter_block_custom{
    margin-bottom: 0.7vw;
    background-color: #ff8785;
    max-height: 60vh;
    overflow: auto;
}
.info-box {
    position: relative;
    border-radius:  0.1vw;
    background: #c0d1e3;
    color: black;
    display: table-cell; 
    vertical-align: middle;
    font-size: 0.7vw;
  }
.info-box.statistics {
    display: table-cell;
}
.disclaimer-row {
    height: 100%;
}
.disclaimer-box {
    position: relative;
    height: 100%;
    border-radius:  0.1vw;
    background: #ff8785;
    color: black;
    /* display: table-cell;  */
    vertical-align: middle;
    font-size: 0.65vw;
    padding: 0.5%;
  }

.info-box2 {
    position: relative;
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius:  0.1vw;
    background: #c0d1e3;
    color: black;
}
/* chosen_method_and_voc */
.german {
    display: none;
}

.english{
}

.rc-slider-handle-1{display: none;}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 300;
}
h1 {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}
h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -0.1rem;
}
h3 {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -0.1rem;
}
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -0.08rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: -0.05rem;
}
h6 {
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 0;
}
.DateInput_input, .DateInput_input_1 {
    text-align: center;
    font-size: 1rem;
    width: 100%;
}
.DateInput {
    width: 40%
}

table{
    width: 100%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th, td {
    border:  0.1vw solid #ddd;
}
.dbc-row-5 {
    height: 5%;
}
.dbc-row-10 {
    height: 10%;
}
.dbc-row-14 {
    height: 14%;
}
.dbc-row-50 {
    height: 50%;
}
.dbc-row-83 {
    height: 83%;
}
.dbc-row-87 {
    height: 87%;
}
.dbc-row-90 {
    height: 90%;
}
/* Using Bootstrap and dash_table.DataTable together */
/* clash on selector row */
.dash-table-container .row {
    display: block;
    margin: 0;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    body, html {
        width: 210mm;
        height: 297mm;
        background-color: white;
    }
    .page {
        margin: 0;
        padding: 0;
        height: 296mm;
        width: 209mm;
        page-break-after: always;
        overflow: visible;
    }
    .page.portrait {
        width: 100%;
        height: 100%;
    }
    .page.landscape {
        transform: rotate(270deg) translate(-296mm, 0);
        transform-origin: 0 0;
        width: 296mm;
        height: 209mm;
    }
    .export {
        display: none;
    }
    .data_distribution_block {
        width: 100%;
        height: 15vw;
    }
    .info-box {
        font-size: 12px;
    }
    .col-8 {
        max-width: 100%;
    }
    #page-content {
        overflow: visible;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 22px;
    }

}

/* prints background colors */
@supports (-moz-appearance:meterbar) {
  html,
  body {
      margin: 0;
      font-size: 0.8vw;
      width: 100%;
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
  }
}

/* off canvas */
/* @media screen and (max-width: 768px) {
    #left_col, #pdf_col{
        left: -100%;
    }
    #pdf_col{
        left: -20%;
    }

} */